#webView {
    background: #FFFFFF;
    width: 360px;
    height: 500px;
    margin-left:35%;
}


/* 상단 상태 Bar 관련 css Start */

.btn {
    height: 40px;
    width: 40px;
    background-color: rgb(22, 160, 133);
    border: 0px;
}


.longButton {
    width: 360px;
    height: 40px;
    line-height: 2.5em;
}

#menubar {
    width: 360px;
    height: 40px;
    background: white;
    background-color: #08AE9E;
    text-align: center;
    color: white;
    line-height: 2.5em;
}


/* 상단 상태 Bar 관련 css End */

.selector {
    list-style: none;
    padding:0px;
}

.selector {
    width: 360px;
    height: 60px;
}

.selector input {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 400;
    background-color: rgba(211, 198, 198, 0.725);
    width: 85px;
    height: 50px;
    margin: 0px;
    text-align:center;
    border: 0;
    outline: 0;

}

.lastbutton input{
    width: 110px;
}

/* 2Page 메뉴 css Start */

#menu1 {
    width: 360px;
    height: 300px;
    margin-top: 10px;
}

#menu2 {
    width: 360px;
    height: 300px;
}

#savingPurpose {
    width: 360px;
    height: 130px;
}

#duration {
    width: 360px;
    height: 100px;
}

#monthPay {
    width: 360px;
    height: 100px;
}

#addTran {
    width: 360px;
    height: 260px;
}

#menuTitle {
    width: 360px;
    height: 30px; 
    text-align: center;
}

.productImage {
    width : 360px;
    height: 80px;
    top: 0px;

}
#productHidden {
    visibility: hidden;
    position: absolute;
}

summary::-webkit-details-marker {
    display: none
}
